@media (max-width: 1439px) {

}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hero {
    &__wrapper {
      column-gap: 45px;
    }
  }
  .skills {
    &__wrapper {
      margin: 40px 150px 0 150px;
    }
  }
  .projects {
    &__wrapper {
      padding: 0 10px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .navigation {
    &__link {
      font-size: 14px;
    }
    &__right {
      width: 330px;
    }
    &__links {
      width: 230px;
    }
  }
  .btn {
    &__small {
      font-size:  14px;
    }
  }
  .hero {
    &__wrapper {
      column-gap: 30px;
      grid-template-columns: 450px auto;
    }
  }
  .skills {
    &__wrapper {
      margin: 40px 30px 0 30px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .navigation {
    &__right {
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgba(0,0,0,.8);
      transition: .6s all;
      &_active {
        left: 0;
      }
    }
    &__links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 10px 0;
    }
    &__link {
      padding-top: 20px;
      font-size: 24px;
    }
  }
  .hamburger {
    display: block;
  }
  .hero {
    &__wrapper {
      grid-template: auto auto / 540px;
      row-gap: 30px;
    }
    &__title {
      text-align: center;
    }
  }
  .skills {
    &__wrapper {
      margin: 40px 110px 0 110px;
      width: 320px;
      display: grid;
      grid-template: repeat(2, 150px) / repeat(2, 150px);
      gap: 20px;
    }
  }
  .projects {
    &__item {
      padding: 10px;
    }
    &__img {
      height: 25%;
    }
    &__title {
      font-size: 15px;
    }
    &__descr {
      font-size: 13px;
    }
  }
  .contact {
    &__wrapper {
      width: 540px;
    }
    &__form {
      grid-template-columns: repeat(2, 240px);
      gap: 20px;
    }
  }
  .modal {
    &__dialog {
      width: 400px;
    }
  }
}

@media (max-width: 576px) {
  .h2_center {
    font-size: 20px;
  }
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .navigation {
    height: 50px;
    padding: 10px 20px;
    h1 {
      font-size: 15px;
    }
    &__right {
      width: 80%;
    }
    &__left {
      width: 160px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .hero {
    &__wrapper {
      grid-template: auto auto / 300px;
      row-gap: 10px;
    }
    &__text {
      text-align: center;
      font-size: 14px;
    }
  }
  .skills {
    &__wrapper {
      margin: 0;
      grid-template-columns: repeat(2, 140px);
      gap: 10px;
      justify-content: start;
      width: 290px;
    }
    &__item {
      width: 140px;
      height: 140px;
      padding: 20px;
    }
  }
  .projects {
    &__wrapper {
      margin-top: 0;
      grid-template: repeat(3, 300px) / 1fr;
      row-gap: 10px;
    }
    &__img {
      height: 40%;
    }
  }
  .contact {
    &__form {
      grid-template: 45px 45px 190px 45px / 1fr;
      gap: 0;
      row-gap: 20px;
    }
    &__wrapper {
      width: 100%;
    }
    &__textarea {
      grid-column: 1 / 1;
    }
  }
  .pageup {
    display: none;
  }
  .modal {
    &__dialog {
      width: 280px;
    }
  }
}
